
# LaTeX
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg


# Python
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
# Ignore virtualenv
env311/
clean_env/
__pycache__/
*.pyc

# Ignore arquivos grandes
*.csv
*.gpickle
*.pkl
*.zip